@keyframes bagMove {
  0% {
    top: 808px;
    left: 0px;
  }
  25% {
    top: 904px;
    left: 585px;
  }
  50% {
    top: 904px;
    left: 970px;
  }
  75% {
    top: 808px;
    left: 1355px;
  }
  100% {
    top: 808px;
    left: 0px;
  }
}

.moving-bag {
  position: absolute;
  width: 150px;
  animation: bagMove 4s ease-in-out infinite;
}
